:root {
    --clr-saturation: 85%;
    --clr-lightness: 60%;
    --clr-lightness-dull: 40%;
    --clr-bg-hue: 50;
    --clr-primary-hue: 94;
    --clr-secondary-hue: 25;
    --clr-code: hsl(215, 14%, 5%);
    --clr-code-light: hsl(215, 14%, 25%);
    --clr-bg: hsl(var(--clr-bg-hue), var(--clr-saturation), var(--clr-lightness));
    --clr-bg-dull: hsl(var(--clr-secondary-hue), var(--clr-saturation), 30%);
    --clr-primary: hsl(var(--clr-primary-hue), var(--clr-saturation), var(--clr-lightness));
    --clr-primary-dull: hsl(var(--clr-primary-hue), var(--clr-saturation), var(--clr-lightness-dull));
    --clr-secondary: hsl(var(--clr-secondary-hue), var(--clr-saturation), var(--clr-lightness));
    --clr-secondary-dull: hsl(var(--clr-secondary-hue), var(--clr-saturation), var(--clr-lightness-dull));
    --header-height: 4rem;
    --default-skew: 4rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html {
    scroll-padding: calc(var(--header-height) + var(--default-skew));
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    background-color: var(--clr-bg);
    overflow-x: hidden;
    background-image: url(./assets/tiles.png);
    font-family: system-ui;
}

.full-width-grid {
    grid-column: 1/-1;
}

.text-center {
    text-align: center;
}

:is(button, .btn) {
    --_active-bg: var(--clr-primary);
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
    background-color: var(--_active-bg);
    padding: .4em 1.3em;
    font-weight: 700;
    transition: outline-offset 125ms;
    border: 0.125rem solid black;
    text-decoration: none;
    color: black;
    text-align: center;
}

.copy-btn {
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    color: white;
    cursor: pointer;
}

.copy-btn.ok {
    transform-origin: bottom;
    animation: copy-ok 500ms;
}

.copy-btn.error {
    animation: copy-error 300ms;
}

.copy-btn>svg {
    display: block;
}

:is(button, .btn):is(:focus, :focus-visible):not(:active) {
    outline: 1px solid --clr-secondary;
    outline-offset: .3em;
}

:is(button, .btn):active {
    --_active-bg: var(--clr-primary-dull);
}

:is(button, .btn).secondary {
    --_active-bg: var(--clr-secondary);
}

:is(button, .btn):active.secondary {
    --_active-bg: var(--clr-secondary-dull);
}

:where(h1, h2, h3, h4, h5, h6) {
    font-family: 'Permanent Marker', cursive;
}

.header {
    padding: .5rem;
    background-color: var(--clr-bg);
    box-shadow: 0 0 1rem 0 rgb(0 0 0 / .3);
    position: sticky;
    top: 0;
    display: flex;
    gap: 1rem;
    z-index: 10;
    align-items: center;
}

.header>.logo {
    height: var(--header-height);
    display: flex;
    gap: 1rem;
    left: 1rem;
    margin-right: auto;
}

.logo>img {
    object-fit: contain;
    transform: rotate(calc(var(--logo-rotation, 0)*5deg));
    filter: drop-shadow(rgba(0, 0, 0, 0.3) 0px 0px 0.3rem);
}

.logo>h1 {
    font-size: clamp(1.31rem, calc(1.28rem + 0.19vw), 1.50rem);
    align-self: center;
}

.hamburger-btn {
    display: none;
    padding: 0;
    background-color: transparent;
    border: none;
}

.hamburger-btn>svg {
    display: block;
}

.header-nav>ul {
    display: flex;
    gap: .5rem;
    list-style: none;
    padding: 0 .5rem;
}

.header-nav a {
    text-decoration: none;
    color: black;
}

.header-nav a:hover {
    color: rgb(0 0 0 / .7);
}

.header-nav li:not(:last-child) {
    border-right: 1px solid rgba(0 0 0 / .3);
    padding-right: .5rem;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: min(90%, 55rem);
    margin: auto;
    padding-block: 4rem;
    gap: 4rem;
}

.title {
    transform: rotateZ(-3deg);
    align-self: end;
    font-size: 2.7rem;
    text-align: center;
}

.get-started {
    align-self: baseline;
    position: relative;
}

.get-started:before {
    content: '';
    position: absolute;
    transform: translateX(-163%) rotate(22deg);
    width: 100px;
    height: 100px;
    background-size: contain;
    background-image: url(./assets/arrow.svg);
    pointer-events: none;
}

.to-the-moon {
    background: linear-gradient(90deg, var(--clr-primary-dull), var(--clr-secondary-dull));
    color: black;
}

@supports(-webkit-background-clip: text) {
    .to-the-moon {
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}

.board {
    background-color: brown;
    padding: 1rem;
    width: 20rem;
    height: 30rem;
    box-shadow: 0 0 .5rem rgba(0 0 0 / .3);
    transform: rotateZ(8deg);
    grid-row: 1 / span 2;
    grid-column: 2;
}


.paper {
    position: relative;
    background-color: hsl(63 75% 70%);
    padding: 1rem;
    min-height: 100%;
    box-shadow: 0 0 .5rem rgba(0 0 0 / .3)
}

.paper:before {
    content: '';
    position: absolute;
    background: grey;
    width: 10%;
    height: 1rem;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 .5rem rgba(0 0 0 / .3)
}

.paper::after {
    content: 'application state';
    background: blue;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    padding-inline: 0.3rem;
    font-size: .68rem;
}

.paper-code>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .2rem;
    overflow-x: hidden;
}

.key {
    overflow: hidden;
    margin-left: 1rem;
    user-select: none;
}

.mod-value {
    text-align: center;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: rgb(255 255 255 / .5);
    font-family: monospace;
    line-height: 0;
    width: calc(var(--chars, 0) * 1ch);
}

.key:after {
    content: '........................................................................................................................';
}

.tip {
    --tip-padding: 1rem;
    text-align: center;
    grid-column: 1/-1;
    background-color: var(--clr-primary);
    padding: var(--tip-padding);
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    display: grid;
    gap: .5rem;
}

.tip::before {
    content: '💡 TIP';
    display: block;
    margin: calc(var(--tip-padding) * -1);
    margin-bottom: .5rem;
    background-color: var(--clr-primary-dull);
    padding: .25rem var(--tip-padding);
    font-weight: bold;
    color: white;
    text-align: start;
}

.tip>code {
    background-color: var(--clr-code);
    color: white;
    justify-self: center;
    padding: .25rem 1rem;
    border-radius: .25rem;
}

.get-started-section {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    max-width: 50vw;
    margin: auto;
}

.skewed {
    --_skew-height: var(--default-skew, 4rem);
    background-color: var(--clr-bg-dull);
    color: white;
    padding: 1rem;
    margin-block: var(--_skew-height);
    position: relative;
}

.template {
    display: grid;
    place-items: center;
    gap: 1rem;
}

.install {
    display: grid;
    place-items: center;
    gap: .5rem;
}

.tabs-chooser>button {
    background-color: var(--clr-code-light);
    color: white;
    padding: .1em .6em;
    margin: 0;
    font-family: monospace;
    font-size: 1rem;
    font-weight: 400;
    border: 0;
    border-right: 1px solid white;
    cursor: pointer;
}

.tabs-chooser>.selected {
    background-color: var(--clr-code);
}

.tabs-chooser>button:first-of-type {
    border-top-left-radius: .5rem;
}

.tabs-chooser>button:last-of-type {
    border-top-right-radius: .5rem;
    border-right: 0;
}

.install-code {
    background-color: var(--clr-code);
    padding: .5rem;
    border-radius: .5rem;
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-template-columns: 1fr max-content;
    gap: .5rem;
    min-width: 40vw;
    text-align: center;
    border-top-left-radius: 0;
}

#examples {
    display: grid;
    gap: 2rem;
}

.examples-title {
    text-align: center;
}

#examples>article {
    --translation: 20%;
    --transition-duration: 500ms;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(var(--translation));
    transition: transform var(--transition-duration), opacity var(--transition-duration);
}

#examples>article:nth-child(even) {
    flex-direction: row-reverse;
}

#examples>article.in-view {
    --translation: 0;
    opacity: 1;
}

#examples>article.no-examples {
    display: block;
    text-align: center;
}

.no-examples>svg {
    max-width: 30vw;
    margin: 1rem;
}

.no-examples>a {
    color: black;
}

#examples>article.code-example {
    justify-content: space-evenly;
}

.code-example>div {
    min-width: 50vw;
}

.code-example>p:not(.codepen) {
    background-color: var(--clr-primary);
    color: black;
    font-weight: bold;
    padding: 3rem;
    border-radius: 37% 63% 36% 64% / 35% 43% 57% 65%;
    max-width: 25ch;
}

.code-example:nth-child(even)>p:not(.codepen) {
    border-radius: 37% 63% 64% 36% / 45% 52% 48% 55%;
}

.why-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.why-list>li>h3 {
    grid-column: 1/-1;
}

.why-list>li {
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-rows: min-content 1fr;
    align-items: start;
    gap: .25rem;
    background-color: var(--clr-secondary);
    padding: 1rem;
    width: 20rem;
    border-radius: .5rem;
    box-shadow: .1rem .3rem .3rem rgb(0 0 0 / .5);
}

.bundler-black-hole {
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    margin: 0;
    padding: 0;
    grid-auto-columns: 100%;
    place-items: center;
    background-image: url("data:image/svg+xml,%3Csvg id='es76CyhmaKw1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 497 497' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'%3E%3Cstyle%3E%3C!%5BCDATA%5B%0A%23es76CyhmaKw5_tr %7Banimation: es76CyhmaKw5_tr__tr 3000ms linear infinite normal forwards%7D@keyframes es76CyhmaKw5_tr__tr %7B 0%25 %7Btransform: translate(248.5px,248.5px) rotate(0deg)%7D 100%25 %7Btransform: translate(248.5px,248.5px) rotate(90.316125deg)%7D%7D %23es76CyhmaKw6_ts %7Banimation: es76CyhmaKw6_ts__ts 3000ms linear infinite normal forwards%7D@keyframes es76CyhmaKw6_ts__ts %7B 0%25 %7Btransform: translate(257px,249px) scale(1,1)%7D 100%25 %7Btransform: translate(257px,249px) scale(0,0)%7D%7D %23es76CyhmaKw7_ts %7Banimation: es76CyhmaKw7_ts__ts 3000ms linear infinite normal forwards%7D@keyframes es76CyhmaKw7_ts__ts %7B 0%25 %7Btransform: translate(257px,249px) scale(1.8,1.8)%7D 100%25 %7Btransform: translate(257px,249px) scale(1,1)%7D%7D%0A%5D%5D%3E%3C/style%3E%3Cpath d='M337,249c0-48.8772-39.6228-88.5-88.5-88.5s-88.5,39.6228-88.5,88.5s39.6228,88.5,88.5,88.5s88.5-39.6228,88.5-88.5Zm-160,0c0-39.764502,32.235498-72,72-72s72,32.235498,72,72-32.235498,72-72,72-72-32.235498-72-72Z'/%3E%3Cpath d='M305,249c0-31.204088-25.295912-56.5-56.5-56.5s-56.5,25.295912-56.5,56.5s25.295912,56.5,56.5,56.5s56.5-25.295912,56.5-56.5Zm-96,0c0-22.09139,17.90861-40,40-40s40,17.90861,40,40-17.90861,40-40,40-40-17.90861-40-40Z'/%3E%3Cpath d='M273,249c0-13.530976-10.969024-24.5-24.5-24.5s-24.5,10.969024-24.5,24.5s10.969024,24.5,24.5,24.5s24.5-10.969024,24.5-24.5Zm-32,0c0-4.418278,3.581722-8,8-8s8,3.581722,8,8-3.581722,8-8,8-8-3.581722-8-8Z'/%3E%3Cg id='es76CyhmaKw5_tr' transform='translate(248.5,248.5) rotate(0)'%3E%3Cpath d='M191,354l19,8h-1c27,35,65,62,103,75l5-16c-15-4-50-19-82-53l14,1l7-1v1c39,21,75,29,107,29c79,0,133-47,134-47l-11-12c-3,3-90,78-204,25l19-8v1c42.719207,5.265923,86.056455-1.668037,125-20l-7-15c-14,7-48,22-96,20l16-14c85.537949-22.304007,148.409643-95.123755,158-183l-16-1c-1,1-9,118-127,163l8-20v1c35-27,62-65,75-103l-16-5c-4,15-19,50-53,82l1-13-1-8h1C444,108,352,1,351,0L339,11c3,3,78,90,25,204l-8-19h1c5-44-2-89-20-125l-15,7c7,14,22,49,20,96-4-6-9-11-14-15v-1C305.343191,72.85427,232.600711,10.446787,145,1l-1,16c1,0,118,8,163,127-7-4-13-7-20-9h1c-27-35-65-62-103-75l-5,16c15,5,50,19,82,53h-21v-1C164.708589,83.435014,68.824881,90.596453,0,146l11,12c3-3,90-77,204-25l-19,8v-1c-44-5-89,2-125,21l7,14c14-7,49-22,96-20-6,4-11,9-15,14h-1C72.85427,191.656809,10.446787,264.399289,1,352l16,1c0-1,8-118,127-162-4,6-7,12-9,19v-1c-35,27-62,65-75,103l16,5c5-15,19-50,53-82v21h-1c-44.564986,76.291411-37.403547,172.175119,18,241l12-11c-3-3-77-90-25-204l8,19h-1c-5,44,2,89,21,125l14-7c-7-14-22-49-20-96l14,16c22.304007,85.537949,95.123755,148.409643,183,158l1-16c-1-1-118-9-162-127ZM145,249c0-57.437614,46.562386-104,104-104s104,46.562386,104,104-46.562386,104-104,104-104-46.562386-104-104Z' transform='translate(-248.5,-248.5)'/%3E%3C/g%3E%3Cg id='es76CyhmaKw6_ts' transform='translate(257,249) scale(1,1)'%3E%3Cpath d='M121,49h16v16h-16ZM89,17h16v16h-16ZM25,73h16v16h-16Zm0,120h16v16h-16ZM57,361h16v16h-16ZM25,393h16v16h-16Zm136,64h16v16h-16Zm56,24h16v16h-16Zm136-48h16v16h-16Zm48-16h16v16h-16Zm72,56h16v16h-16Zm-8-184h16v16h-16ZM433,105h16v16h-16Zm16-48h16v16h-16ZM297,25h16v16h-16ZM265,1h16v16h-16Z' transform='translate(-257,-249)'/%3E%3C/g%3E%3Cg id='es76CyhmaKw7_ts' transform='translate(257,249) scale(1.8,1.8)'%3E%3Cpath d='M121,49h16v16h-16ZM89,17h16v16h-16ZM25,73h16v16h-16Zm0,120h16v16h-16ZM57,361h16v16h-16ZM25,393h16v16h-16Zm136,64h16v16h-16Zm56,24h16v16h-16Zm136-48h16v16h-16Zm48-16h16v16h-16Zm72,56h16v16h-16Zm-8-184h16v16h-16ZM433,105h16v16h-16Zm16-48h16v16h-16ZM297,25h16v16h-16ZM265,1h16v16h-16Z' transform='translate(-257,-249)'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.bundler-black-hole>li {
    transform: translateX(-100vw);
    grid-column: 1;
    grid-row: 1;
    animation: come-and-fade 6s linear infinite;
    animation-delay: calc(var(--animation-order) * 2s);
    width: 100%;
    height: 100%;
}

@keyframes come-and-fade {
    70% {
        transform: translateX(0);
        opacity: 1;
    }

    90% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(0) scale(0);
        opacity: 0;
    }
}

.small-size {
    aspect-ratio: 1;
    background: red;
    width: 10rem;
    animation: shrink 2500ms cubic-bezier(0.48, -2, 0.48, 2) infinite;
    transform-origin: bottom;
}

@keyframes shrink {
    0%, 75%, 100% {
        transform: scale(1);
    }

    25%, 50% {
        transform: scale(.5);
    }
}

.skewed::before, .skewed::after {
    content: '';
    background-color: inherit;
    height: var(--_skew-height);
    position: absolute;
    width: 100%;
    left: 0;
}

.skewed::before {
    top: 0;
    transform: translateY(-99%);
    clip-path: polygon(100% 27%, 100% 100%, 0% 100%);
}

.skewed::after {
    bottom: 0;
    transform: translateY(99%);
    clip-path: polygon(0% 0%, 100% 0%, 0% 58%);
}

.skewed.forward::before {
    top: 0;
    transform: translateY(-99%);
    clip-path: polygon(0% 27%, 100% 100%, 0% 100%);
}

.skewed.forward::after {
    bottom: 0;
    transform: translateY(99%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 58%);
}

.footer {
    height: 10rem;
    background-image: url('./assets/mine.svg');
    background-position: bottom left;
    background-repeat: repeat-x;
    width: 100%;
    background-size: auto;
    pointer-events: none;
    line-height: 0;
    position: relative;
}

.footer>svg {
    height: 100%;
    width: auto;
}

.footer>svg #body {
    animation: mine-body 1s infinite alternate linear;
    transform-origin: bottom center;
    transform-box: fill-box;
    animation-play-state: var(--animation-state, paused);
}

.footer>svg #arms {
    animation: mine-arms 1s infinite alternate linear;
    transform-origin: bottom right;
    transform-box: fill-box;
    animation-play-state: var(--animation-state, paused);
}

.bitcoin {
    position: absolute;
    top: 0;
    animation: fade-away 1s;
    width: 3rem;
    height: 3rem;
}


@keyframes copy-ok {

    0%,
    70% {
        color: #bada55;
        transform: scaleY(100%) translate(0);
    }

    20% {
        transform: scaleY(70%) translate(0);
    }

    50% {
        transform: translate(0, -50%);
    }
}

@keyframes copy-error {

    0%,
    100%,
    50% {
        color: #B0061E;
        transform: rotate(0);
    }

    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }
}

@keyframes fade-away {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate(45%, -100%);
    }
}

@keyframes mine-body {
    from {
        transform: rotate(-10deg);
    }

    to {
        transform: rotate(10deg)
    }
}

@keyframes mine-arms {
    from {
        transform: rotate(-50deg);
    }

    to {
        transform: rotate(20deg)
    }
}

@keyframes fly-in {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 43.75rem) {
    .header-nav:not(.open)>ul {
        display: none;
    }

    .hamburger-btn {
        display: block;
    }

    .header-nav {
        transform: translateX(100%);
        transition: transform 250ms;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: min(20rem, 65vw);
        background-color: var(--clr-bg);
    }

    .open {
        box-shadow: -.5rem 0 2rem 0 rgba(0 0 0 / .3), 0 0 0 100vmax rgba(0 0 0 / .3);
        transform: translateX(0);
    }

    .header-nav>ul {
        flex-direction: column;
        text-align: center;
    }

    .header-nav li:nth-child(n) {
        padding: .5rem;
        border-right: none;
        border-bottom: 1px solid rgb(0 0 0 / .3);
    }

    .hero {
        grid-template-columns: 1fr;
    }

    .board {
        grid-column: 1;
        grid-row: 3;
    }

    .get-started-section {
        grid-template-columns: 1fr;
        max-width: 100%;
    }

    #examples>article:not(:first-child) {
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    #examples>article:nth-child(even) {
        align-items: flex-start;
    }

    .install-code {
        min-width: 90vw;
    }
}